{% ckan_extends %}

{% set pkg = c.pkg_dict or pkg_dict %}

{% block page_heading %}
    {% if pkg.type == 'composto' %}
    <i class="px-dataset-composto-icon"></i>
    {% endif %}
   {{ super() }}
{% endblock %}

{% block package_notes %}
	{% if c.pkg_notes_formatted %}
		{% snippet "package/snippets/custom_field_text.html", label = 'Resumo', value = c.pkg_notes_formatted, tooltip_id='field-notes' %}
  	{% endif %}
{% endblock %}

{% block package_additional_info %}
	{% if pkg.type in ['composto', 'simples'] %}
		{% snippet "package/snippets/cmp/relationships-as-object.html", pkg=pkg %}
		{% snippet "package/snippets/cmp/relationships-origem-derivado.html", pkg=pkg %}
	    {% snippet "package/snippets/cmp/metadata.html", pkg=pkg %}
	{% endif %}
	{{ super() }}
{% endblock %} {# package_additional_info #}

{% block package_resources %}
{% if pkg.type != 'composto' %}
	{{ super() }}
{% endif %}
{% endblock %}
