requests
git+https://github.com/ckan/ckan.git@release-v2.3.1#egg=ckan
git+https://github.com/ParadigmaXis/ckanext-harvest.git@ckan_harvester_filter#egg=ckanext-harvest
git+https://github.com/ckan/ckanext-geoview.git#egg=ckanext-geoview