.px-dataset-icon:before {
  content: "D";
  background-color: #444;
  color: #fff;
  padding-left: 4px;
  padding-right: 4px;
}

.px-dataset-simples-icon:before {
  content: "S";
  background-color: #444;
  color: #fff;
  padding-left: 4px;
  padding-right: 4px;
}

.px-dataset-composto-icon:before {
  content: "C";
  background-color: #444;
  color: #fff;
  padding-left: 4px;
  padding-right: 4px;
}

a.see-all{
  display: block;
  text-align: right;
}

.group-list .module-content {
  padding-left: 0;
}

nav.navigation {
    width: 500px;
}

.cmp-page h2 {
  margin-top: 1em;
}

.cmp-page table {
  margin-bottom: 1em;
}

.cmp-page table th,
.cmp-page table td {
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #ddd;
}

.cmp-page pre {
    padding: 1em;
    overflow: auto;
    font-size: 95%;
    line-height: 1.45;
    border-radius: 3px;
    background-color: rgba(247, 247, 247, 255);
}

.cmp-page code{
  padding: 0.3em;
  margin: 0;
  font-size: 95%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.cmp-page pre code {
  background-color: transparent;
}

@media print {
	@page {
	    size: auto;
	    margin: 5mm 5mm 5mm 5mm;
	}
	.page_primary_action, .search-form, .pagination, .dropdown, .account-masthead,
	.masthead, .site-footer, .toolbar, .secondary, .page-header, #dataset-resources, 
	.dataset-resources, .tags, .resource-view,  .actions {
	    display: none !important;
	}
	[role="main"] .primary {
		float: none;
		width: 100%;
	}
	a[href]:after {
		content: none !important;
	}
	#disqus_thread {
		display: none;
	}
	.additional-info {
		font-size: 14px;
		page-break-inside:avoid; 
		page-break-after:auto;
	}
}

