{% ckan_extends %}

{% block header_logo %}
  <a class="logo" href="{{ h.url('home') }}"><img src="/img/logo.svg" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
  <div class="main-heading">
    <h1><a href="{{ h.url('home') }}">{{ g.site_title }}</a></h1>
    {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
  </div>
{% endblock %}

{% block header_site_search %}{% endblock %}

{% block header_site_navigation_tabs %}

    {% set items = [('search', _('Datasets'))] %}
    {% if h.is_dcat_plugin_active() %}
        {% set items = items + [('linked_data', _('Linked Data'))] %}
    {% endif %}
    {% if c.userobj.admin or c.userobj.sysadmin %}
    	{% set items = items + [('data_cubes', _('Data Cubes'))] %}
    {% endif %}
    {% set items = items + [('organizations_index', _('Organizations'))] %}
    {% if c.userobj.sysadmin %}
        {% set items = items + [('group_index', _('Groups'))] %}
    {% endif %}
    {% set items = items + [('about', _('About'))] %}
    {{ h.build_nav_main(*items) }}

{% endblock %}

{{ super() }}

