{% extends "page.html" %}

{% block subtitle %}{{ _('Linked Data') }}{% endblock %}

{% block breadcrumb_content %}
  {% if h.is_dcat_plugin_active() %}
    <li class="active">{% link_for _('Linked Data'), controller='ckanext.dados_cmporto_pt.controller:StaticPagesController', action='linked_data' %}</li>
  {% endif %}
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content cmp-page">
    {% if not h.is_dcat_plugin_active() %}
      <h1>404 Not Found</h1>
      The resource could not be found.
    {% else %}
      <h1 class="page-heading">{{ _('Linked Data') }}</h1>

      Este portal disponibiliza o seu catálogo de conjuntos de dados em diferentes formatos de <a href="https://pt.wikipedia.org/wiki/Linked_data">dados ligados</a>.

      <h2>Conjuntos de dados</h2>
	  
	  {% set pkg_read_url = h.url_for(controller='package', action='read', id='___dataset-id__', qualified=true) %}
	  {% set pkg_read_url = pkg_read_url|replace('___', '{') %}
      <p>Representações RDF dos metadados de um conjunto de dados em particular podem ser acedidos através de URLs do tipo:</p>
      <pre><code>{{pkg_read_url|replace('__', '}')}}.{format}</code></pre>

      <p>Os formatos atualmente suportados são:</p>
      <table>
        <thead>
          <tr>
            <th>Sufixo</th>
            <th>Formato</th>
            <th>Tipo MIME</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>xml</code> ou <code>rdf</code></td>
            <td><a href="https://en.wikipedia.org/wiki/RDF/XML">RDF/XML</a></td>
            <td>application/rdf+xml</td>
          </tr>
          <tr>
            <td><code>ttl</code></td>
            <td><a href="https://en.wikipedia.org/wiki/Turtle_%28syntax%29">Turtle</a></td>
            <td>text/turtle</td>
          </tr>
          <tr>
            <td><code>n3</code></td>
            <td><a href="https://en.wikipedia.org/wiki/Notation3">Notation3</a></td>
            <td>text/n3</td>
          </tr>
          <tr>
            <td><code>jsonld</code></td>
            <td><a href="http://json-ld.org/">JSON-LD</a></td>
            <td>application/ld+json</td>
          </tr>
        </tbody>
      </table>
	
	  {% set dataset_name = 'planos-de-pormenor-2014' %}
	  {% set read_url = h.url_for(controller='package', action='read', id=dataset_name, qualified=true) %}
	  
      <p>Alguns exemplos dos diferentes formatos disponibilizados:</p>
      <ul>
        <li><a href="{{read_url}}.rdf">{{read_url}}.rdf</a></li>
        <li><a href="{{read_url}}.xml">{{read_url}}.xml</a></li>
        <li><a href="{{read_url}}.ttl">{{read_url}}.ttl</a></li>
        <li><a href="{{read_url}}.n3">{{read_url}}.n3</a></li>
      </ul>

      <h2>Catálogo de conjuntos de dados</h2>
      <p>Em adição às representações individuais dos metadados de cada conjuntos de dados, também é dada
          uma forma de obter os metadados de múltiplos conjuntos de dados ao mesmo tempo (esta lista é paginada,
          ver em baixo para mais detalhes):</p>
      
      {% set _read_url = h.url_for(action='index', qualified=true)|replace('/packages', '') %}
      <pre><code>{{_read_url}}/catalog.{format}?[page={page}]&amp;[modified_since={date}]</code></pre>

      <p>O formato a ser devolvido pode ser especificado de forma semelhante ao acesso a um conjunto de dados individual, como aqui exemplificado:</p>
      <ul>
        <li><a href="{{_read_url}}/catalog.rdf">{{_read_url}}/catalog.rdf</a></li>
        <li><a href="{{_read_url}}/catalog.xml">{{_read_url}}/catalog.xml</a></li>
        <li><a href="{{_read_url}}/catalog.ttl">{{_read_url}}/catalog.ttl</a></li>
      </ul>

      <p>O número de conjuntos de dados devolvido é limitado. A resposta inclui informação de paginação,
        serializada usando o vocabulário <a href="http://www.w3.org/ns/hydra/spec/latest/core/">Hydra</a>.
        Os diferentes termos são auto-explicativos, e podem ser usados por clientes para iterar sobre o catálogo.
        O exemplo seguinte utiliza o formato <em>turtle</em>:</p>

      <pre><code>@prefix hydra: &lt;http://www.w3.org/ns/hydra/core#&gt; .

      &lt;{{_read_url}}/catalog.ttl?page=1&gt; a hydra:PagedCollection ;
          hydra:firstPage "{{_read_url}}/catalog.ttl?page=1" ;
          hydra:itemsPerPage 100 ;
          hydra:lastPage "{{_read_url}}/catalog.ttl?page=3" ;
          hydra:nextPage "{{_read_url}}/catalog.ttl?page=2" ;
          hydra:totalItems 283 .
      </code></pre>

      <p>O URL de acesso ao catálogo também aceita o parâmetro <code>modified_since</code> para restringir os resultados
          aos conjuntos de dados modificados desde uma certa data. O parâmetro deve ser uma data ISO-8601 válida:</p>

      <p><a href="{{_read_url}}/catalog.xml?modified_since=2015-07-24">{{_read_url}}/catalog.xml?modified_since=2015-09-13</a></p>
    {% endif %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
