{% extends "page.html" %}

{% block subtitle %}{{ _('Política de Privacidade') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Política de Privacidade'), controller='ckanext.dados_cmporto_pt.controller:StaticPagesController', action='privacy_policy' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
    <h1 class="page-heading">{{ _('Política de Privacidade') }}</h1>
	<p>O Município do Porto encara seriamente a privacidade e a proteção dos dados registados pelos seus utilizadores.</p>
	<p>Nos seus diversos portais, existem áreas e serviços que se encontram acessíveis apenas através do registo do utilizador. Conforme cada caso são apenas pedidos e recolhidos os dados necessários para a prestação do serviço de acordo com as indicações explícitas no portal e as opções do utilizador.</p>
	<p>Os elementos de informação pessoal ou outros recolhidos através do registo destinam-se exclusivamente a uso administrativo e informático no âmbito estrito dos serviços solicitados pelo utilizador através do portal. Caso o requeira, o titular dos dados tem o direito de obter o acesso, retificação ou a eliminação dos dados facultados.</p>
	<p>O utilizador compromete-se a fornecer ao Município do Porto informação de registo rigorosa e completa, em particular o endereço de correio eletrónico, e a notificar o Município de quaisquer alterações a essas informações.
	<p>O utilizador pode aceder e verificar a sua correção e, se necessário, retificar.</p>
	<p>O Município do Porto compromete-se a respeitar a legislação em vigor sobre proteção de dados pessoais e a não ceder, sob qualquer forma ou condição, esta informação a entidades terceiras. O Município do Porto compromete-se, ainda, a adotar as medidas de segurança necessárias para garantir a salvaguarda dos dados pessoais dos utilizadores contra a sua eventual utilização abusiva ou contra o acesso não autorizado.</p>
	<p>Também são usados cookies para melhorar o desempenho e a sua experiência como utilizador.</p>
	<p>Os cookies são pequenos ficheiros de texto que um site, ao ser visitado pelo utilizador, coloca no seu computador ou no seu dispositivo móvel através do navegador de Internet.</p>
	<p>Os cookies recolhem informações genéricas, designadamente as opções que realizam nos sites, as zonas que navegam, a forma como os utilizadores chegam e utilizam os sites ou a zona do país/países através do qual acedem ao site, etc.</p>
	<p>A colocação de cookies ajudará o site a reconhecer o seu dispositivo na próxima vez que o utilizador o visita. Os cookies são também usados para ajudar a determinar a utilidade, interesse e o número de utilizações dos sites, permitindo uma navegação mais rápida e eficiente e eliminando a necessidade de introduzir repetidamente as mesmas informações.</p>
	<p>Os cookies retêm apenas informação relacionada com o seu equipamento, as suas escolhas e as suas preferências. Usamos o termo cookies nesta política para referir todos os ficheiros que recolhem informações desta forma.
	<p>A qualquer momento o Utilizador pode, através do seu navegador de internet decidir ser notificado sobre a receção de cookies, bem como bloquear a respetiva entrada no seu sistema.</p>
	<p>A recusa de uso de cookies no site, pode resultar na impossibilidade de ter acesso a algumas das suas áreas ou de receber informação personalizada.</p>
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
