{% extends "page.html" %}

{% block subtitle %}{{ _('Política de Moderação') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Política de Moderação'), controller='ckanext.dados_cmporto_pt.controller:StaticPagesController', action='moderation_policy' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Política de Moderação') }}</h1>

      <p>Comentários adicionados por utilizadores registados aparecerão no site sem moderação.</p>

      <p>Comentários adicionados ao site por utilizadores não registados não aparecerão até que tenham sido moderados.</p>

      <p>Ideias e pedidos são sempre moderados antes de poderem ser visionados no site.</p>

      <p>A equipa do Portal de Dados Abertos da CMP reserva-se o direito de editar o conteúdo antes do mesmo ser apresentado no site. A edição terá lugar apenas se for considerado que a mesma tornará o conteúdo mais compreensível ou mais fácil de visualizar. Não será alterada a substância ou o significado de uma contribuição para o site.</p>

      <p>A equipa do Portal de Dados Abertos da CMP procurará sempre que os conteúdos sujeitos a moderação estejam disponíveis num espaço de ??? dias durante a semana de trabalho. Os comentários adicionados nos fins-de-semana ou feriados serão moderados no primeiro dia útil seguinte.</p>

      <p>Se sua submissão ao site não aparece no site, ou acaba por ser removida, tal significa que a equipa do do Portal de Dados Abertos da CMP considerou que a contribuição não está de acordo com o código de conduta do site.</p>

      <p>Sempre que possível ou conveniente, entraremos em contato para explicar por que sua contribuição não se encaixava com as directrizes, com sugestões de como o conteúdo poderá ser reformulado de modo que possa aparecer no site.</p>

      <p>Se tiver uma pergunta sobre a razão da sua contribuição não tem aparecido no site, sobre as nossas diretrizes de participação ou abordagem de moderação, por favor contate-nos através do email ???@cm-porto.pt</p>

    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
