{% extends "page.html" %}

{% block subtitle %}{{ _('Termos de Utilização') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Termos de Utilização'), controller='ckanext.dados_cmporto_pt.controller:StaticPagesController', action='terms_of_use' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
    <h1 class="page-heading">{{ _('Termos de Utilização') }}</h1>
	<h3>1	Condições Gerais </h3>
	<h4>1.1	Versão Beta</h4>
	Este Portal encontra-se em versão beta.
	<h4>1.2	Propriedade</h4>
	O Portal de Dados Abertos do Porto é uma base de dados integrada na plataforma eletrónica dadosabertos.cm-porto.pt, propriedade do Município do Porto, pessoa coletiva de direito público, NIPC 501 306 099, com sede na Praça General Humberto Delgado, 4049-001, Porto. Esta é regulada nos termos e para os efeitos do Decreto-Lei n.º 122/2000, de 4 de julho (Proteção de bases de dados) e, pelo Código do Direito de Autor e Direitos Conexos, máxime artigo 75.º e demais legislação aplicável.
	<h4>1.3	Utilizador</h4>
	Considera-se utilizador a pessoa que, respeitadas as condições de licenciamento e os presentes Termos de Utilização, aceder e/ou utilizar os dados disponibilizados na plataforma eletrónica dadosabertos.cm-porto.pt, através da criação de uma conta de acesso, nos termos e para os efeitos do ponto 2.
	<h4>1.4	Funcionalidades</h4>
	<p>A plataforma eletrónica dadosabertos.cm-porto.pt, gerida e operada pelo Município do Porto, fornece ao utilizador um serviço de pesquisa que permite o acesso a dados relativos ao Porto, provenientes dos serviços municipais e de entidades externas.</p>
	<p>O utilizador reconhece e aceita que parte dos dados pode constituir propriedade intelectual (nomeadamente obras, prestações, software ou bases de dados protegidos por Direito de Autor e ou Direitos Conexos) do Município do Porto ou de outras entidades.</p>
	A plataforma eletrónica dadosabertos.cm-porto.pt disponibiliza ainda ao utilizador a:
	<ul>
	 <li>Submissão de comentários e sugestões sobre os conjuntos de dados disponíveis na plataforma; </li>
	 <li>Obtenção de conjuntos de dados para posterior reutilização; </li>
	 <li>Submissão de sugestões sobre conjuntos de dados específicos que o utilizador pretenda ver disponibilizados; </li>
	 <li>Submissão de informação sobre aplicações baseadas nos conjuntos de dados disponíveis. </li>
	</ul>
	Os comentários, sugestões, dados e informação facultados pelo do utilizador serão designados de "Contributos". 
	<h3>2	Condições de Acesso </h3>
	<h4>2.1	Contas de acesso</h4>
	Desde que respeitadas as condições de licenciamento e os presentes termos de utilização, o utilizador é livre de aceder e utilizar os dados disponibilizados na plataforma eletrónica dadosabertos.cm-porto.pt, através da criação de uma conta de acesso e atribuição de password, as quais são pessoais e intransmissíveis.
	<h4>2.2	Finalidade</h4>
	<p>O registo dos utilizadores é gratuito e destina-se exclusivamente à criação da conta de acesso, que possibilita a seleção de conjunto de dados favoritos para serem seguidos, a submissão de comentários, sugestões e informações sobre aplicações baseadas nos conjuntos de dados na plataforma eletrónica dadosabertos.cm-porto.pt.</p>
	<p>A informação sobre o acesso à plataforma eletrónica dadosabertos.cm-porto.pt - endereço do servidor, nome de domínio de nível superior, data e hora da visita, páginas acedidas, documentos obtidos e tipo de navegador de internet utilizado - serão recolhidas e armazenadas para fins exclusivamente estatísticos, não se destinando ao tratamento de dados pessoais.</p>
	<p>As informações estatísticas recolhidas destinam-se a avaliar o número de visitantes nos diferentes domínios da plataforma, a identificar, em face do n.º de acessos, as informações relevantes, a monitorizar o desempenho do sistema e, consequentemente, a melhorar as funcionalidades e a utilidade da plataforma eletrónica dadosabertos.cm-porto.pt do ponto de vista do utilizador.</p>
	<h4>2.3	Cancelamento</h4>
	O Município reserva-se o direito de cancelar, sem aviso prévio, a conta de acesso, em caso de violação dos presentes Termos de Utilização.
	<h3>3	Propriedade Intelectual </h3>
	<h4>3.1	Dados e conteúdos</h4>
	<p>Quaisquer Direito de Autor e/ou Direitos Conexos associados aos dados recebidos do Município do Porto são licenciados, de forma não exclusiva, gratuita, irrevogável, ilimitada e pelo período de duração dos mesmos a favor do Município do Porto para os fins previstos nos presentes termos de utilização, incluindo o direito de sublicenciar os mesmos ao abrigo da licença Creative Commons Atribuição 3.0 Portugal ou qualquer licença de utilização que a venha a substituir (a versão corrente da qual pode ser consultada em http://creativecommons.org/licenses/by/3.0/pt/legalcode).</p>
	<p>Consequentemente, o Município do Porto sublicencia os dados para os efeitos dos presentes termos de utilização ao abrigo da licença Creative Commons Atribuição 3.0 Portugal.</p>
	<p>Todos os restantes conteúdos do portal, incluindo textos, gráficos, botões, imagens e respetivo tratamento, bem como a compilação de conteúdos, layout e a base de dados de suporte à plataforma eletrónica dadosabertos.cm-porto.pt são propriedade do Município e estão protegidos nos termos da legislação aplicável, incluindo aquela respeitante a direitos de propriedade intelectual.</p>
	<h4>3.2	Contributos</h4>
	<p>Ao disponibilizar os contributos no portal dadosabertos.cm-porto.pt os utilizadores reconhecem e aceitam que licenciam quaisquer direitos de propriedade intelectual (incluindo Direito de Autor e/ou Direitos Conexos) associados aos respetivos contributos, de forma não exclusiva, gratuita e irrevogável (na medida do permitido pela legislação aplicável), e pelo período de duração dos mesmos direitos, para os fins previstos nos presentes termos de utilização (incluindo qualquer tipo e/ou forma de utilização atualmente conhecida ou que venha a ser criada no futuro), incluindo o direito de sublicenciar os mesmos ao abrigo da licença Creative Commons Atribuição 3.0 Portugal ou qualquer licença de utilização que a venha a substituir (a versão corrente da qual pode ser consultada em http://creativecommons.org/licenses/by/3.0/pt/legalcode).</p>
	<p>O Município do Porto reserva-se desde já o direito de publicar tais contributos por qualquer meio e formato na plataforma eletrónica dadosabertos.cm-porto.pt ou em qualquer outro sítio de internet, em publicações impressas, alertas, notificações de e-mail e/ou "web feeds".</p>
	<h4>3.3	Direitos de terceiros</h4>
	Na medida em que os contributos dos utilizadores incluam conteúdos protegidos por Direito de Autor e/ou Direitos Conexos ou outros direitos de propriedade intelectual de terceiros, o utilizador ao disponibilizá-los, declara e garante que tem o direito de utilizar esses conteúdos e de os licenciar nos termos e para os efeitos dos presentes termos de utilização, incluindo para efeitos de concessão de sublicenças ao abrigo da licença Creative Commons Atribuição 3.0 Portugal (a versão corrente da qual pode ser consultada em http://creativecommons.org/licenses/by/3.0/pt/legalcode).
	<h3>4	Condições de Utilização </h3>
	<h4>4.1	Utilização legítima</h4>
	O utilizador pode, desde que cumpridos os presentes termos de utilização, aceder ao portal dadosabertos.cm-porto.pt para praticar os atos decorrentes de/ou inerentes às funcionalidades descritas na Cláusula 1.4, nomeadamente, extrair e reutilizar os dados e contributos disponibilizados para os fins previstos na legislação aplicável, designadamente para fins privados, didáticos ou científicos. 
	<h4>4.2	Utilização ilegítima</h4>
	<p>O utilizador obriga-se pelos presentes termos de utilização do portal dadosabertos.cm-porto.pt de forma a não causar problemas na sua utilização ou interrupções na sua disponibilidade. </p>
	<p>O utilizador obriga-se a não usar o portal dadosabertos.cm-porto.pt para fins ilegítimos, estando nomeadamente vedados:
	<ul>
	 <li>A publicação de qualquer informação ou contributo que seja ilegal, obsceno, ofensivo, abusivo, difamatório, ameaçador, violador de direitos de propriedade intelectual, privacidade, confiança ou qualquer outro direito adquirido, ou que seja, por qualquer outra forma, ilegítimo, inconveniente ou inadequado;</li>
	 <li>Propósitos fraudulentos ou relacionados com qualquer atividade ilícita;</li>
	 <li>O envio de informações ou contributos que contenham vírus informáticos, propaganda política, solicitações comerciais ou, de uma forma genérica, integrem o conceito de spam.</li>
	</ul>
	</p>
	<h4>4.3	Aprovação prévia</h4>
	Ao Município reserva-se o direito de aprovação prévia dos contributos, podendo ser recusada, suspensa ou cancelada a sua publicação quando usados de forma abusiva ou quando contrários ao disposto nas Cláusulas 4.1 e 4.2, bem como a cooperar com as autoridades judiciais ou administrativas sempre que requerida a sua cooperação e a divulgar, quando instada para tal, a identidade dos Utilizadores que violem o disposto nas Cláusulas 4.1 e 4.2.
	
	<h3>5	Limitação de Responsabilidade</h3>
	<h4>5.1	Dados recebidos</h4>
	<p>O portal dadosabertos.cm-porto.pt disponibiliza ligações e conteúdos de outros sítios da Internet e dados disponibilizados por outras entidades.</p>
	<p>Apesar do cuidado na compilação e/ou disponibilização da informação recebida, na medida em que a mesma é disponibilizada por terceiros, o Município do Porto não assume qualquer responsabilidade pela sua exatidão, validade e atualização, nem, por quaisquer prejuízos que daí possam advir para o utilizador, seja a que título for.</p>
	<h4>5.2	Contributos recebidos</h4>
	<p>Sem prejuízo do disposto em 4.3, o portal dadosabertos.cm-porto.pt disponibiliza contributos dos utilizadores.</p>
	<p>Apesar do cuidado na compilação e/ou disponibilização da informação recebida, na medida em que a mesma é disponibilizada por terceiros, o Município do Porto não assume qualquer responsabilidade pela sua exatidão, validade e atualização, nem, na medida do permitido pela legislação aplicável, por quaisquer prejuízos que daí possam advir para os demais Utilizadores, seja a que título for.</p>
	<h4>5.3	Suspensão ou interrupção do acesso</h4>
	O Município do Porto reserva-se o direito de interromper ou suspender o acesso ao portal na estrita medida do necessário, para fins de reparação, manutenção ou disponibilização de novos serviços, não podendo ser responsabilizada por quaisquer eventuais danos daí decorrentes para os utilizadores.
	<h4>5.4	Alteração de garantias</h4>
	O Município do Porto não autoriza qualquer seu representante, funcionário ou colaborador, seja a que título for e independentemente do meio utilizado, a assumir qualquer garantia ou responsabilidade que não decorra direta e explicitamente dos presentes termos de utilização, não lhe sendo oponível qualquer alteração acordada nessas circunstâncias com qualquer utilizador ou conjunto de utilizadores.
	<h3>6	Disposições Finais</h3>
	<h4>6.1	Concordância</h4>
	<p>Os presentes termos de utilização aplicam-se a todos os conteúdos, dados e contributos disponibilizados e/ou publicados no portal dadosabertos.cm-porto.pt, a qualquer web feed e à utilização dos serviços de dados.</p>
	<p>Ao aceder e ao utilizar o portal dadosabertos.cm-porto.pt considera-se que o utilizador aceita e concorda com os presentes termos de utilização.</p>
	<h4>6.2	Alterações</h4>
	Os presentes termos de utilização poderão ser revistos, alterados e atualizados pelo Município do Porto a todo o tempo mediante disponibilização de um aviso no final do documento, detalhando de que forma é que os mesmos foram alterados, ou mediante publicação de um anúncio na página inicial do portal dadosabertos.cm-porto.pt.
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
