{% extends "page.html" %}

{% block subtitle %}{{ _('Termos de Utilização') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Termos de Utilização'), controller='ckanext.dados_cmporto_pt.controller:StaticPagesController', action='terms_of_use' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Termos de Utilização') }}</h1>

      <h2> 1 Condições Gerais </h2>
      <h3> 1.1 Versão Beta</h3>
      <p>A presente plataforma encontra-se em versão beta.</p>
      <h3> 1.2 Propriedade</h3>
      <p>A Plataforma de Dados Abertos do Porto é uma base de dados integrada na plataforma eletrónica dadosabertos.cm-porto.pt, propriedade da Câmara Municipal do Porto (CMP), pessoa coletiva de direito público, NIPC ??? ??? ???, com sede na Praça General Humberto Delgado, 4049-001, Porto, e regulada nos termos e para os efeitos do Decreto-Lei n.º 122/2000, de 4 de Julho e, na medida do aplicável, pelo Código do Direito de Autor e Direitos Conexos e demais legislação nacional aplicável ao direito de autor e direitos conexos.</p>
      <h3> 1.3 Utilizador</h3>
      <p>Considera-se Utilizador a pessoa que, respeitadas as condições de licenciamento e os presentes Termos de Utilização, aceder e/ou utilizar os Dados disponibilizados na plataforma eletrónica dadosabertos.cm-porto.pt, através da criação de uma conta de acesso, nos termos e para os efeitos do ponto 2 abaixo.</p>
      <h3> 1.4 Funcionalidades</h3>
      <p>A plataforma eletrónica dadosabertos.cm-porto.pt, gerida e operada pela CMP, fornece ao Utilizador um serviço de pesquisa que permite o acesso a Dados relativos ao Porto, provenientes da CMP e de entidades externas.</p>
      <p>O Utilizador reconhece e aceita que parte dos Dados pode constituir propriedade intelectual (nomeadamente obras, prestações, software ou bases de dados protegidos por Direito de Autor e ou Direitos Conexos) da CMP ou de outros organismos.</p>
      <p>A plataforma eletrónica dadosabertos.cm-porto.pt disponibiliza ainda ao Utilizador, entre outras funcionalidades, as seguintes:</p>
      <ul>
        <li> Submissão de comentários e sugestões sobre os conjuntos de dados disponíveis na plataforma;
        <li> Obtenção de conjuntos de dados para posterior reutilização;
        <li> Submissão de sugestões sobre conjuntos de dados específicos que o Utilizador pretenda ver disponibilizados;
        <li> Submissão de informação sobre aplicações baseadas nos conjuntos de dados disponíveis.
      </ul>
      <p>Os comentários, sugestões, dados e informação do Utilizador passarão a ser designados de "Contributos". </p>
      <h2> 2 Condições de Acesso</h2>
      <h3> 2.1 Contas de acesso</h3>
      <p>Desde que respeitadas as condições de licenciamento e os presentes Termos de Utilização, o Utilizador é livre de aceder e utilizar os Dados disponibilizados na plataforma eletrónica dadosabertos.cm-porto.pt, através da criação de uma conta de acesso e atribuição de password, as quais são pessoais e intransmissíveis.</p>
      <h3> 2.2 Finalidade</h3>
      <p>O registo dos Utilizadores é gratuito e destina-se exclusivamente à criação da conta de acesso, que possibilita a seleção de conjunto de dados favoritos para serem seguidos, a submissão de comentários, sugestões e informações sobre aplicações baseadas nos conjuntos de dados na plataforma eletrónica dadosabertos.cm-porto.pt.</p>
      <p>A informação sobre o acesso à plataforma eletrónica dadosabertos.cm-porto.pt - endereço do servidor, nome de domínio de nível superior, data e hora da visita, páginas acedidas, documentos obtidos e tipo de navegador de internet utilizado - serão recolhidas e armazenadas para fins exclusivamente estatísticos, não se destinando ao tratamento de dados pessoais.</p>
      <p>As informações estatísticas recolhidas destinam-se a avaliar o número de visitantes nos diferentes domínios da plataforma, identificar, em face do n.º de acessos, as informações relevantes, monitorizar o desempenho do sistema e, consequentemente, a melhorar as funcionalidades e a utilidade da plataforma eletrónica dadosabertos.cm-porto.pt do ponto de vista do Utilizador.</p>
      <h3> 2.3 Cancelamento</h3>
      <p>A CMP reserva-se o direito de cancelar, sem aviso prévio, a conta de acesso em caso de violação dos presentes Termos de Utilização.</p>
      <h2> 3 Propriedade Intelectual</h2>
      <h3> 3.1 Dados e conteúdos</h3>
      <p>Quaisquer Direito de Autor e/ou Direitos Conexos associados aos Dados recebidos da CMP são licenciados, de forma não exclusiva, gratuita, irrevogável, ilimitada e pelo período de duração dos mesmos a favor da CMP para os fins previstos nos presentes Termos de Utilização, incluindo o direito de sublicenciar os mesmos ao abrigo da licença Creative Commons Atribuição 3.0 Portugal ou qualquer licença de utilização que a venha a substituir (a versão corrente da qual pode ser consultada em http://creativecommons.org/licenses/by/3.0/pt/legalcode).</p>
      <p>Consequentemente, a CMP sublicencia os Dados para os efeitos dos presentes Termos de Utilização ao abrigo da licença Creative Commons Atribuição 3.0 Portugal.</p>
      <p>Todos os restantes conteúdos da plataforma, incluindo textos, gráficos, botões, imagens e respetivo tratamento, bem como a compilação de conteúdos, layout e a base de dados de suporte à plataforma eletrónica dadosabertos.cm-porto.pt são propriedade da CMP e estão protegidos nos termos da legislação aplicável, incluindo aquela respeitante a direitos de propriedade intelectual.</p>
      <h3> 3.2 Contributos</h3>
      <p>Ao disponibilizar os Contributos na plataforma dadosabertos.cm-porto.pt os Utilizadores reconhecem e aceitam que licenciam quaisquer direitos de propriedade intelectual (incluindo Direito de Autor e/ou Direitos Conexos) associados aos respetivos Contributos, de forma não exclusiva, gratuita e irrevogável (na medida do permitido pela legislação aplicável), e pelo período de duração dos mesmos direitos, para os fins previstos nos presentes Termos de Utilização (incluindo qualquer tipo e/ou forma de utilização atualmente conhecida ou que venha a ser criada no futuro), incluindo o direito de sublicenciar os mesmos ao abrigo da licença Creative Commons Atribuição 3.0 Portugal ou qualquer licença de utilização que a venha a substituir (a versão corrente da qual pode ser consultada em http://creativecommons.org/licenses/by/3.0/pt/legalcode).</p>
      <p>A CMP reserva-se desde já o direito de publicar tais Contributos por qualquer meio e formato na plataforma eletrónica dadosabertos.cm-porto.pt ou em qualquer outro sítio de internet, em publicações impressas, alertas, notificações de e-mail e/ou "web feeds".</p>
      <h3> 3.3 Direitos de terceiros</h3>
      Na medida em que os Contributos dos Utilizadores incluam conteúdos protegidos por Direito de Autor e/ou Direitos Conexos ou outros direitos de propriedade intelectual de terceiros, o Utilizador desde já declara e garante que tem o direito de utilizar esses conteúdos e de os licenciar nos termos e para os efeitos dos presentes Termos de Utilização, incluindo para efeitos de concessão de sublicenças ao abrigo da licença Creative Commons Atribuição 3.0 Portugal.
      <h2> 4 Condições de Utilização</h2>
      <h3> 4.1 Utilização legítima</h3>
      O Utilizador pode, desde que cumpridos os presentes Termos de Utilização, aceder à plataforma eletrónica adosabertos.cm-porto.pt para praticar os actos decorrentes de ou inerentes às funcionalidades descritas na Cláusula 1.2 supra, nomeadamente extrair e reutilizar os Dados e Contributos disponibilizados para os fins previstos na legislação aplicável, designadamente para fins privados, didáticos ou científicos.
      <h3> 4.2 Utilização ilegítima</h3>
      O Utilizador obriga-se pelos presentes Termos de Utilização a utilizar a plataforma eletrónica Dadosabertos.cm-porto.pt de forma a não causar problemas na utilização da plataforma eletrónica ou interrupções na sua disponibilidade.
      <p>O Utilizador obriga-se a não utilizar a plataforma eletrónica dadosabertos.cm-porto.pt para fins ilegítimos, estando nomeadamente vedados:</p>
      <ul>
        <li>A publicação de qualquer informação ou Contributo que seja ilegal, obsceno, ofensivo, abusivo, difamatório, ameaçador, violador de direitos de propriedade intelectual, privacidade, confiança ou qualquer outro direito adquirido, ou que seja, por qualquer outra forma, ilegítimo, inconveniente ou inadequado;</li>
        <li>Propósitos fraudulentos ou relacionados com qualquer actividade ilícita;</li>
        <li>O envio de informações ou Contributos que contenham vírus informáticos, propaganda política, solicitações comerciais ou, de uma forma genérica, spam.</li>
      </ul>
      <h3> 4.3 Aprovação</h3>
      <p>A CMP reserva-se o direito de aprovação prévia dos Contributos, podendo ser recusada, suspensa ou cancelada a sua publicação quando usados de forma abusiva ou quando contrários ao disposto nas Cláusulas 4.1 e 4.2, bem como a cooperar com as autoridades judiciais ou administrativas sempre que requerida a sua cooperação e a divulgar, quando instada para tal, a identidade dos Utilizadores que violem o disposto nas Cláusulas 4.1 e 4.2.</p>
      <h2> 5 Limitação de Responsabilidade</h2>
      <h3> 5.1 Dados recebidos</h3>
      <p>A plataforma eletrónica dadosabertos.cm-porto.pt disponibiliza ligações e conteúdos de outros sítios da internet e Dados disponibilizados por outros organismos do setor público.</p>
      <p>Apesar do cuidado na compilação e/ou disponibilização da informação recebida, na medida em que a mesma é disponibilizada por terceiros, a CMP não assume qualquer responsabilidade pela sua exatidão, validade e atualização, nem, na medida do permitido pela legislação aplicável, por quaisquer prejuízos que daí possam advir para o Utilizador, seja a que título for.</p>
      <h3> 5.2 Contributos recebidos</h3>
      <p>Sem prejuízo do disposto em 4.3, a plataforma eletrónica dadosabertos.cm-porto.pt disponibiliza Contributos dos Utilizadores.</p>
      <p>Apesar do cuidado na compilação e/ou disponibilização da informação recebida, na medida em que a mesma é disponibilizada por terceiros, a CMP não assume qualquer responsabilidade pela sua exatidão, validade e atualização, nem, na medida do permitido pela legislação aplicável, por quaisquer prejuízos que daí possam advir para os demais Utilizadores, seja a que título for.</p>
      <h3> 5.3 Suspensão ou interrupção do acesso</h3>
      <p>A CMP reserva-se o direito de interromper ou suspender o acesso à plataforma na estrita medida do necessário para fins de reparação, manutenção ou disponibilização de novos serviços, não podendo ser responsabilizada por quaisquer eventuais danos daí decorrentes para os Utilizadores.</p>
      <h3> 5.4 Alteração de garantias</h3>
      <p>A CMP não autoriza qualquer seu representante, funcionário ou colaborador, seja a que título for e independentemente do meio utilizado, a assumir qualquer garantia ou responsabilidade que não decorra direta e explicitamente dos presentes Termos de Utilização, não lhe sendo oponível qualquer alteração acordada nessas circunstâncias com qualquer Utilizador ou conjunto de Utilizadores.</p>
      <h2> 6 Disposições Finais</h2>
      <h3> 6.1 Concordância</h3>
      <p>Os presentes Termos de Utilização aplicam-se a todos os conteúdos, Dados e Contributos disponibilizados e/ou publicados na plataforma eletrónica dadosabertos.cm-porto.pt, a qualquer "web feed" e à utilização dos serviços de dados.</p>
      <p>Ao aceder a e utilizar a plataforma eletrónica dadosabertos.cm-porto.pt considera-se que o Utilizador aceita e concorda com os presentes Termos de Utilização.</p>
      <h3> 6.2 Alterações</h3>
      <p>Os presentes Termos de Utilização poderão ser revistos, alterados e atualizados pela CMP a todo o momento, mediante disponibilização de um aviso no final do documento, detalhando de que forma é que os Termos de Utilização foram alterados, ou publicação de um anúncio na página inicial da plataforma eletrónica dadosabertos.cm-porto.pt.</p>


    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
