
{% block package_relationships_origem_derivado %}

<section id="dataset-relationships-origem-derivado" class="resources">
	{% set derivado_de_list_packages = h.get_relationships_as_Subj_derives_from_Obj(pkg.id) %}
 	{% set origem_de_list_packages = h.get_relationships_as_Obj_has_derivation_Subj(pkg.id) %}

	{% if derivado_de_list_packages|length > 0 %}
	<h3 tooltip-id='field-derives_from'>Derivado de</h3>
	<div class="container-fluid">
		<div class="row-fluid">
		{# DEBUG:
		<p>derivado_de_list_packages: {{ derivado_de_list_packages }} </p> #}
		<!--Body content-->
		{% if c.print_model == 1 %}
		  {% snippet 'snippets/relationship_package_grid.html', packages=derivado_de_list_packages, item_class="resource-item", hide_resources=true %}
		{% else %}
		  <div class="page-container">
		  <div id="projects" class="row projects">
		  {% snippet 'snippets/package_list.html', packages=derivado_de_list_packages, facet_nav_on='0', list_class='datasets', item_class="dataset" %}
		  </div>
		  </div>
		{% endif %}
		</div>
	</div>
  	{% endif %}
 
 	{% if origem_de_list_packages|length > 0 %}
 	<h3 tooltip-id='field-has_derivation'>Origem de</h3>
	<div class="container-fluid">
		<div class="row-fluid">
		{# DEBUG:
		<p>origem_de_list_packages: {{ origem_de_list_packages }} </p> #}
		<!--Body content-->
		{% if c.print_model == 1 %}
		  {% snippet 'snippets/relationship_package_grid.html', packages=origem_de_list_packages, item_class="resource-item", hide_resources=true %}
		{% else %}
		  <div class="page-container">
		  <div id="projects" class="row projects">
		  {% snippet 'snippets/package_list.html', facet_nav_on='0', packages=origem_de_list_packages, list_class='datasets', item_class="dataset" %}
		  </div>
		  </div>
		{% endif %}
		</div>
	</div>
 	{% endif %}

</section>
	
{% endblock %}
  