
{% block package_relationships_as_object %}

  	<section id="dataset-relationships_as_object" class="resources ">

  	{% if pkg.type == "composto" %}
  		{# Lista de compostos-pai #}
	  	{% set list_packages_pai = h.get_relationships_as_Obj_isDependencyOf_Subj(pkg.id) %}
	  	{% if list_packages_pai %}
	  		<h3 tooltip-id="field-relationships_as_object_string">Faz parte de</h3>
		  	<div class="container-fluid">
			<div class="row-fluid">
		   	  <!--Sidebar content-->
			  {# <p>{{list_packages_pai}}</p> #}
			<!--Body content-->
			{% if c.print_model == 1 %}
			  {% snippet 'snippets/relationship_package_grid.html', packages=list_packages_pai, hide_resources=true %}
			{% else %}
			<div class="page-container">
			<div id="projects" class="row projects">
			  {% snippet 'snippets/package_list.html', packages=list_packages_pai, facet_nav_on='0', list_class='datasets', item_class="dataset" %}
		    </div>
		    </div>
		    {% endif %}
			</div>
			</div>	  	
	  	{% endif %}
		
		{# Lista de compostos-filho + simples de que este depende #}
	  	{% set list_packages_filho = h.get_relationships_as_Subj_dependsOn_Obj(pkg.id) %}
  		{% if list_packages_filho %}
  			<h3 tooltip-id='field-derives_from'>Composto por</h3>
		  	<div class="container-fluid">
			<div class="row-fluid">
		   	<!--Sidebar content-->
			{# <p>{{list_packages_filho}}</p> #}
			<!--Body content-->
			{% if c.print_model == 1 %}
			  {% snippet 'snippets/relationship_package_grid.html', packages=list_packages_filho, item_class="resource-item", hide_resources=true %}
			{% else %}
			<div class="page-container">
			<div id="projects" class="row projects">
			  {% snippet 'snippets/package_list.html', packages=list_packages_filho, facet_nav_on='0', list_class='datasets', item_class="dataset" %}
		    </div>
		    </div>
			{% endif %}
			</div>
			</div>  	
  		{% endif %}
  	{% endif %}  {# pkg.type == "composto" #}
	
	{% if pkg.type == "simples" %}
  	{% set list_packages = h.get_relationships_as_Obj_isDependencyOf_Subj(pkg.id) %}
  	{% if list_packages|length > 0 %}
  	<h3 tooltip-id="field-relationships_as_object_string">Faz parte de</h3>
  	<div class="container-fluid">
		<div class="row-fluid">
		<!--Body content-->
		{% if c.print_model == 1 %}
		  {% snippet 'snippets/relationship_package_grid.html', packages=list_packages, item_class="resource-item", hide_resources=true %}
		{% else %}
		  <div class="page-container">
		  <div id="projects" class="row projects">
		  {% snippet 'snippets/package_list.html', packages=list_packages, facet_nav_on='0', list_class='datasets isotope', item_class="dataset isotope" %}
          </div>
	      </div>
		{% endif %}		
		</div>
	</div>
	{% endif %}
	{% endif %} {# pkg.type == "simples" #}
	
	</section>
{% endblock %}
  