{# Responsavel Produtor #}

{% set _exclude_list = ['', 'null' ] %}

{% if pkg.get('responsavel_produtor_nome') or pkg.responsavel_produtor_und_organica or pkg.responsavel_produtor_email or pkg.responsavel_produtor_telefone %}
  <h3 tooltip-id='label-responsavel_produtor'>Produtor</h3>
  <div class="container-fluid">
    <div class="row-fluid">
    {% if pkg.get('responsavel_produtor_und_organica') not in _exclude_list %}
  	<p><strong>Unidade Orgânica</strong> {{ pkg.responsavel_produtor_und_organica }}</p>
  	{% endif %}
  	{% if pkg.get('responsavel_produtor_nome') not in _exclude_list %}
  	<p><strong>Nome</strong> {{ pkg.responsavel_produtor_nome }}</p>
  	{% endif %}
  	{% if pkg.get('responsavel_produtor_email') not in _exclude_list %}
  	<p><strong>Email</strong> {{ pkg.responsavel_produtor_email }}</p>
  	{% endif %}
  	{% if pkg.get('responsavel_produtor_telefone') not in _exclude_list %}
  	<p><strong>Telefone</strong> {{ pkg.responsavel_produtor_telefone }}</p>
  	{% endif %}
    </div>
  </div>
{% endif %}
