{% trans %}
<h2>Introdução</h3>
<h3> Atual paradigma do Open Data </h3>

<p>As exigências informacionais crescentes que se fazem sentir, fruto do advento das tecnologias de informação, têm um forte impacto na Administração Pública. Estamos a falar de um volume cada vez maior de dados disponível que precisa de ser gerido e potencializado, assim como nos referimos também à evolução contínua nas tecnologias de análise, exploração e processamento de dados.</p>
<p>O exercício que se coloca não diz respeito apenas à modernização da estrutura tecnológica, adequando-a aos sistemas e mecanismos que se encontram em constante atualização mas, sobretudo, procurar a melhoria contínua dos serviços prestados aos cidadãos, empresas e instituições, enquanto figuras interatuantes da própria administração.</p>
<p>A disponibilidade e reutilização dos dados do setor público para fins privados ou por parte das instituições de investigação e desenvolvimento pode constituir um importante contributo para o desenvolvimento de novos serviços baseados em novos modos de combinar e utilizar esses dados, estimulando o crescimento económico, a produção de conhecimento científico e promovendo a intervenção social.</p>

<h3> Visão do Município do Porto quanto ao atual paradigma do Open Data</h3>
Entre os valores que orientam a atividade e a cultura do Município do Porto destacam-se a orientação para o cidadão, a melhoria contínua e a inovação. Neste âmbito, e tendo muito presente a importância dos dados, da informação e do conhecimento que a partir deles pode ser gerado, o Município do Porto pretende responder ao desafio do atual paradigma de dados abertos.

<h3> Plataforma de Dados Abertos do Município do Porto</h3>
<p>Com o intuito de gerar valor através da disponibilização de informação que pode ser utilizada e combinada de forma a gerar conhecimento pelos mais diversificados agentes da cidade, o Município do Porto pretende colocar em funcionamento uma Plataforma de Dados Abertos. Pretende-se que o Portal seja não só um repositório de dados mas igualmente um interface colaborativo e de participação ativa entre o Município, os Cidadãos, as Empresas, as instituições e demais organizações das diversas áreas de intervenção, numa estratégia de governação mais transparente e participativa da cidade.</p>
<p>Estes dados, muitos deles georreferenciados, são extremamente úteis, constituindo um suporte à atividade municipal e uma ferramenta de apoio à tomada de decisão e à delineação de políticas e estratégias bem informadas e suportadas, em linha com o objetivo de criação de cidades inteligentes, inclusivas e sustentáveis plasmado na Estratégia Europa 2020.</p>

<h3>Âmbito e objetivos deste documento estratégico</h3>
Com este documento pretende-se sistematizar os princípios orientadores a montante da criação da Plataforma de Dados Abertos do Município do Porto, contextualizando-os no atual paradigma de disponibilização de dados aos cidadãos, empresas e demais entidades como forma de maior transparência governativa e melhoria da participação dos agentes no processo de construção de conhecimento sobre a cidade.
<h2>1) A política de dados abertos</h2>
<p>A informação é uma necessidade para qualquer setor da atividade humana. Os dados/informação são um dos principais ativos das organizações, independentemente do seu âmbito de atuação.</p>
<p>A transformação de informação em conhecimento é considerada na atualidade um fator de primeira importância para a competitividade das empresas, das instituições e dos territórios.</p>
<p>A União Europeia, no âmbito nomeadamente da Agenda Digital para a Europa, tem vindo a incentivar os Estados-Membros a adotarem iniciativas de dados abertos. As razões prendem-se com o facto de:</p>
<ul>
<li>os dados públicos terem um potencial significativo para reutilização em novos produtos e serviços;</li>
<li>contribuírem para a descoberta de soluções novas e/ou inovadoras que permitam dar resposta a desafios societais;</li>
<li>se atingir ganhos de eficiência através da partilha de dados dentro e entre órgãos da administração pública e entre estes e outros agentes;</li>
<li>contribuir para a participação dos cidadãos na vida política e social, aumentando a transparência governamental.</li>
<li>A abertura de dados implica a sua acessibilidade e facilidade de uso a diferentes perfis de utilizadores.</li>
</ul>
<h2>2) Visão e estratégia da Câmara Municipal do Porto quanto aos dados abertos</h2>
Como contributo para a concretização das estratégias europeia e nacional em matéria de transparência governativa, o processo de disponibilização de dados abertos aos agentes da cidade por parte do Município tem como objetivos fundamentais:</p>
<ul>
 <li>disponibilizar uma ferramenta à Administração Pública e ao Cidadão, assente em conceitos de trabalho colaborativo, administração aberta, conetividade e partilha de dados e informação;</li>
 <li>habilitar os cidadãos, a administração pública e demais agentes para que, com a sua atuação, que se pretende cada vez mais integrada e colaborativa, fomentem a competitividade e o desenvolvimento;</li>
 <li>racionalizar os recursos;</li>
 <li>disponibilizar uma ferramenta parametrizável, modular e gratuita, que se adeque às diferentes necessidades do município e outras entidades que utilizem a plataforma.</li>
</ul>
<p><b>Neste contexto, a <b>Visão</b> da Câmara Municipal do Porto a este respeito consiste em:</p>
<p>Maximizar as oportunidades que advêm da disponibilização e uso de dados e informação do Município do Porto, contribuindo deste modo para a competitividade do Município do Porto e da região para visitar, para residir, captar e realizar negócios no mercado nacional e internacional.</b></p>

<h2>3) O Portal de Dados Abertos do Município do Porto</h2>

<h3>Portal de Dados Abertos do Município do Porto</h3>

<p>Este Portal tem como base os princípios dos dados abertos e é disponibilizado pelo Município do Porto com o intuito de gerar valor para a sociedade e para a administração local. Os dados abertos refletem uma maior transparência do Município, uma participação mais ativa do munícipe e potenciam o desenvolvimento de melhores e novos produtos e serviços privados. Este portal será potenciador da inovação, da melhoria dos serviços municipais e da geração de conhecimento com a combinação de diferentes dados, assumindo um papel de grande interesse para a cidade.</p>

<p>O Portal de Dados Abertos foi desenvolvido pelo Município do Porto, usando a plataforma open source CKAN.</p>

<h3>Público-alvo</h3>
Os dados abertos da cidade do Porto destinam-se quer aos cidadãos (munícipes), empresários, turistas, investigadores, estudantes, quer à comunidade de programadores que os pretendam utilizar na implementação de aplicações.

<h3>O quê no portal?</h3>
O portal fornece um catálogo de metadados para dar acesso a dados do Município do Porto ou a dados partilhados por terceiros, estando os dados disponíveis em formatos tanto de leitura humana, como por máquinas. O portal também tem um espaço de divulgação de uma seleção de aplicações desenvolvidas à volta dos dados nele disponibilizados.

<h3>Como participar no portal</h3>
<p>Um dos objetivos do portal é fomentar a participação dos cidadãos através da apresentação de sugestões relativas à publicação, correção de erros detetados, partilha dos próprios dados e divulgação das utilizações que efetuarem com os dados.</p>
<p>A utilização do portal assenta no seguinte modelo:</p>
<ul>
 <li>O acesso aos dados pode ser efetuado por qualquer Utilizador anónimo sem necessidade de registo no portal;</li>
 <li>Para que um utilizador possa seguir dados, acompanhando de perto a atividade à volta deles, terá de efetuar o seu registo na portal;</li>
 <li>Os utilizadores poderão partilhar os seus próprios dados, desde que o administrador do portal lhe atribua permissões de edição.</li>
</ul>
{% endtrans %}