{% trans %}
<h2>Dados abertos</h2>

<p>Dados abertos são os dados que podem ser <strong>livremente</strong> utilizados, reutilizados e redistribuidos &mdash; sem nenhuma restrição legal, tecnológica ou social.</p>

<h2>Portal de Dados Abertos do Município do Porto</h2>

<p>Este Portal tem como base os princípios dos dados abertos e é disponibilizado pela Câmara Municipal do Porto com o intuito de gerar valor para a sociedade e para a administração local. Os dados abertos permitem uma maior transparência do município, uma participação mais ativa do munícipe e o desenvolvimento de melhores e novos produtos e serviços privados. Este portal poderá potenciar a inovação, a melhoria dos serviços municipais e a geração de conhecimento novo com a combinação de diferentes dados, assumindo um papel de grande interesse para a cidade.</p>

<p>O Portal de Dados Abertos do Município do Porto foi desenvolvido pela ParadigmaXis em colaboração com a Câmara Municipal do Porto (CMP), usando a plataforma open source [CKAN](<a href="https://stackedit.io/">https://stackedit.io/</a>) e esta é a versão 1.0.</p>

<h2>Público Alvo</h2>

<p>Os dados abertos da cidade do Porto são úteis a todos os munícipes em geral (empresários, turistas, investigadores, estudantes, etc. ) e em especial a programadores que os pretendam reutilizar em aplicações por eles desenvolvidas.</p>

<h2>O quê no portal?</h2>

<p>O portal é um catálogo de metadados para dar acesso a dados do município do Porto ou a dados partilhados por terceiros, estando os dados disponíveis em formatos tanto de leitura por humanos, como por máquinas. O portal também tem um espaço de divulgação de uma seleção de aplicações desenvolvidas à volta dos dados nele disponibilizados.</p>

<h2>Como participar no portal</h2>

<p>Outro objetivo do portal é envolver os munícipes, de forma a que estes participem na sugestão de novos conjuntos de dados, na sugestão de correção de erros detetados, na partilha dos próprios dados, na divulgação da utilização que efetuaram com os dados.</p>

<p>A utilização do portal segue o seguinte modelo:</p>

<ul>
<li>O acesso aos dados pode ser efetuado por qualquer utilizador anónimo sem necessidade de registo na plataforma;</li>
<li>Para que um utilizador possa seguir dados, acompanhando de perto a atividade à volta deles, este ter-se-á que registar na plataforma, pois só será possível autenticando-se na plataforma;</li>
<li>Os utilizadores poderão partilhar os seus próprios dados, desde que o administrador do portal lhe atribua permissões de edição.</li>
</ul>
{% endtrans %}
