<div role="main" class="hero">
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
</div>
<div>
  <div class="container">
  <span style="color:red; font-size: 1.5em; font-weight: bold;">TODO: Add groups here.</span>
  </div>
</div>
<div role="main">
  <div class="container boxes">
    <div class="row row2">
      <div class="span6 col2">
        {% block populars %}
        <div class="box">
          <div class="inner">
            <h3>{{ _('Most viewed datasets') }}</h3>
            <!-- empty block -->
          </div>
        </div>
        {% endblock %}
      </div>
      <div class="span6 col1">
        {% block tagcloud %}
        <div class="box">
          <div class="inner">
            <h3>{{ _('Popular terms') }}</h3>
            <!-- empty block -->
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
    <div class="row row2">
      <div class="span6 col2">
        {% block updateds %}
        <div class="box">
          <div class="inner">
            <h3>{{ _('Recently updated datasets') }}</h3>
            <!-- empty block -->
          </div>
        </div>
        {% endblock %}
      </div>
      <div class="span6 col1">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
