<div role="main" class="hero">
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
</div>
<div>
  <div class="container">
  {# Groups here #}
  {% snippet 'home/snippets/groups.html' %}
  </div>
</div>
<div role="main">
  {% set datasets_url = h.url_for(controller='package', action='search') %}
  <div class="container boxes">
    <div class="row row2">
      <div class="span6 col2">
        <div class="box">
          {% block tagcloud %}
            <div class="innerPop">
            	<h3>{{ _('Popular terms') }}</h3>
            </div>
            {% snippet 'home/snippets/most_pop_tags.html', top_tags = h.get_top_tags() %}
        </div>
        {% endblock %}
      </div>
      <div class="span6 col1">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
    </div>
    <div class="row row2">
      <div class="span6 col2">
        {% block updates %}
        <div class="box">
          <div class="inner">
            <h3>{{ _('Recently updated datasets') }}</h3>
            {% snippet 'home/snippets/ordered_datasets.html', packages=h.get_recent_datasets(), show_update_date=True, list_class = "unstyled dataset-list" %}
            <a class="see-all" href="{{datasets_url}}?sort=metadata_modified+desc">{{ _('View all ...') }}</a>
          </div>
        </div>
        {% endblock %}
      </div>
      <div class="span6 col1">
        {% block populars %}
        <div class="box">
          <div class="inner">
            <h3>{{ _('Most viewed datasets') }}</h3>
            {% snippet 'home/snippets/ordered_datasets.html', packages=h.get_most_pop_datasets(), show_tracking=True, list_class = "unstyled dataset-list" %}
            <a class="see-all" href="{{datasets_url}}?sort=views_recent+desc">{{ _('View all ...') }}</a>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
