<div role="main" class="hero">
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
</div>
<div>
  <div class="container">
  {# Groups here #}
  {% snippet 'home/snippets/categories.html' %}
  </div>
</div>
<div role="main">
  <div class="container boxes">
    <div class="row row2">
      <div class="span6 col2">
        {% block populars %}
        <div class="box">
          <div class="inner">
            <h3>{{ _('Dados mais vistos') }}</h3>
            <!-- empty block -->
          </div>
        </div>
        {% endblock %}
      </div>
      <div class="span6 col1">
        {% block tagcloud %}
        <div class="box">
          <div class="inner">
            <h3>{{ _('Termos em destaque') }}</h3>
            <!-- empty block -->
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
    <div class="row row2">
      <div class="span6 col2">
        {% block updateds %}
        <div class="box">
          <div class="inner">
          <h3>{{ _('Dados atualizados recentemente') }}</h3>
          {#
          {% set datasets_url = h.url_for(controller='package', action='search') %}
          <a href="{{ datasets_url }}">Todos</a>
          #}
          {% snippet 'home/snippets/recent_datasets.html' %}
          </div>
        </div>
        {% endblock %}
      </div>
      <div class="span6 col1">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
