{% extends "page.html" %}

{% block subtitle %}{{ _('Política de Privacidade') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Política de Privacidade'), controller='ckanext.dados_cmporto_pt.controller:StaticPagesController', action='privacy_policy' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Política de Privacidade') }}</h1>
      <i>Conteúdo a definir</i>
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
